@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    /* background-color: #fff; */
    /* color: rgb(20, 66, 65); */
    background-color: rgb(20, 66, 65);
    color: white;
    accent-color: rgb(193, 137, 87);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    position: relative;
}

#container {
    max-width: 850px;
    margin: 0 auto;
}

#flex-div {
    max-width: 850px;
    display: flex;
    flex-direction: column;
}

header, footer, h1 {
    text-align: center;
    text-transform: capitalize;
    padding: 2%;
    color: #fff;
    background-color: rgb(20, 66, 65);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

nav a:hover {
    color: rgb(193, 137, 87);
    text-shadow: rgb(20, 66, 65) 1px 1px;
}

main {
    margin: 24px;
    align-items: center;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 48px;
}

h2 {
    text-transform: capitalize;
    color: rgb(193, 137, 87);
    font-size: 28px;
}

.suggestions a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    text-shadow: rgb(193, 137, 87) 1px 1px;
}

.suggestions a:hover {
    color: blue;
    text-shadow: rgb(193, 137, 87) 1px 1px;
}

.active-nav {
    color: blueviolet;
}

.project {
    width: 800px;
    background-color: white;
    color: rgb(20, 66, 65);
    padding: 24px;
    border: #fff solid 1px;
    border-radius: 24px;
}

.project img{
    border: #fff solid 1px;
    border-radius: 24px;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(193, 137, 87);
    text-shadow: rgba(20, 66, 65, 0.75) 1px 1px;
}

p {
    padding: 24px;
}

main span {
    color: rgb(193, 137, 87);
}